.join {
  margin: 0 auto;
  width: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join__form {
  width: 100%;
  padding: 20px 35px 35px;
  border-radius: 10px 10px 10px 10px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--gray);
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.join__form fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.join__form label {
  display: block;
  color: var(--dark-gray);
  text-align: left;
}

.join__form input {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 17px;
}

.join__form input:focus {
  outline: 2px solid var(--green);
}

.join__form .join__inputContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.join__dupButton {
  min-width: 122px;
  display: inline-block;
  padding: 17px;
  color: #fff;
  background-color: var(--green);
  border-radius: 10px;
}

.join__term {
  padding: 0 35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 34px;
}

.join__term input[type="checkbox"]:checked + p {
  border: none;
}
.join__term:focus-within p {
  border-radius: 10px;
  border: 2px solid var(--green);
}
.join__term input {
  display: inline-block;
}
.join__term p {
  text-align: left;
  display: inline-block;
  color: var(--dark-gray);
}

.join__term p a {
  font-weight: bold;
  text-decoration: underline;
}

.join__submitButton {
  width: calc(100% - 70px);
  padding: 14px 0;
  color: #fff;
  background-color: var(--gray);
  border-radius: 10px;
  font-size: 18px;
}
.join__submitButton:disabled {
  background-color: var(--light-gray);
}
