.order {
  width: 100%;
  padding: 80px 12%;
  text-align: center;
}

.order h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 52px;
}

.order__tableHeader {
  width: 100%;
  padding: 5px 0;
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 20px;
}

.order__itemContainer {
  margin-top: 16px;
  padding: 8px 0 18px;
  border-bottom: 1px solid var(--gray);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.order__itemInfo {
  display: grid;
  grid-template-columns: 104px 5fr;
  gap: 20px;
}

.order__itemImageContainer {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.order__itemImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.order__itemTextGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px 0 20px 0;
}

.order__itemTextGroup .companyName,
.order__itemTextGroup .amount {
  font-size: 14px;
  color: var(--dark-gray);
}

.order__itemTextGroup .productName {
  font-size: 18px;
  margin-bottom: 10px;
}

.order__itemContainer > span {
  display: inline;
}

.order__delivery {
  color: var(--dark-gray);
}

.order dl {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.order dl dt {
  font-size: 18px;
}

.order dl dd {
  font-size: 24px;
}

.order__bottom {
  margin-top: 70px;
  display: flex;
  gap: 40px;
}
