/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --gray: #c4c4c4;
  --light-gray: #f2f2f2;
  --green: #21bf48;
  --dark-gray: #767676;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

li {
  list-style: none;
}
input {
  outline: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.bold {
  font-weight: 700;
}

fieldset {
  border: none;
}
